<div class="row">
  <div class="col m12" ng-show="message !== ''">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <p>{{ message }}</p>
      </div>
    </div>
  </div>
      <form ng-hide="newEvent.id" ng-submit="createEvent()" class="createEventForm">
        <h3 class="newEventHeader"> Create an Event</h3>
        <input type="text" placeholder="Name of your event" ng-model="newEvent.name">
        <input type="text" placeholder="Type of Food (optional)" ng-model="newEvent.term">
        <input type="text" placeholder="Location" ng-model="newEvent.location">
        <button type="submit" name="button">submit</button>
        {{ newEvent }}
      </form>
      <form ng-show="newEvent.id" ng-submit="createEvent()" class="createEventForm">
        <h3 class="newEventHeader">Invite friends with this url!</h3>
        <br>
        <span class="center-align">{{urlPath}}</span>
      </form>
    </div>
  </div>
