<form class="" ng-submit='myEventSubmit()'>
  <button type="submit" name="button">submito</button>
</form>
<div>
<!--
  <table>
    <thead>
      <th>
        <td>
          Event
        </td>
        <td>
        Location
      </td>
        <td>
          Places
        </td>
      </th>
    </thead>
    <tbody class="col 6" ng-repeat="event in events">

        <td>
          {{event.name}}
        </td>
        <td >
          {{event.location}}
        </td>

    </tbody>
  </table> -->
<div class="row" ng-repeat="event in events track by $index" ng-if="$index % 4 == 0">
  <div class="col-xs-3 letter-box"
       ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3]"
       ng-if="events[i] != null">
    <div><a href="#"><img src="http://loremflickr.com/320/240"/> <br>{{event.name}} {{event.location}}</a></div>
  </div>
</div>
  <!-- <div class="col 12">
    <div class="col 3">
      <ul ng-repeat="event in events">
       <li  ng-show="event.name">
         <a href="#"><img src="http://loremflickr.com/320/240"/> <br>{{event.name}} {{event.location}}</a>
       </li>
    </div>
  </div> -->


    <!-- <li>
      <ul ng-repeat='place in event.places'>
        <li>{{place.name}}</li>
         <li>{{place.rating}}</li>
         <li>{{place.phone}}</li>
         <li>{{place.address}}</li>
      </ul>
    </li> -->
  </ul>
</div>
