<div class="row">
  <div class="col m12" ng-show="message !== ''">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <p>{{ message }}</p>
      </div>
    </div>
  </div>
  <div class="col m6 offset-m3">
    <h1 class="logins">Login</h1>
    <form ng-submit="login()" class="loginForm z-depth-5">
      <div class="form-group">
        <label for="">User Name</label>
        <input type="text" id="" placeholder="UserName123" name="username" ng-model="user.username">
      </div>
      <br>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" placeholder="Sup3rS3cr3tpassw0rd" ng-model="user.password">
      </div>
      <br>
      <button type="submit" class="btn">Login</button>
    </form>
  </div>
</div>
