<div class="container">
  <div class="row">
    <h3 class="send">Want to eat with your friends? Send them a text!</h3>
    <form ng-submit="sms()">
      <input type="text" name="name" value="" placeholder="+1-123-456-7891" ng-model="number.phone1">
      <input type="text" name="name" value="" placeholder="+1-123-456-7891" ng-model="number.phone2">
      <input type="text" name="name" value="" placeholder="+1-123-456-7891" ng-model="number.phone3">
      <button class="btn btn-default" type="submit" name="button">Submit</button>
    </form>
  </div>
</div>
